* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: #262626;
  float: left;
  a{
      color: white;
      text-decoration: none;
  }
  .navbar{
      min-height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 24px;
      margin-bottom: 5px;
      .nav-branding{
          font-size: 2rem;
      }
      .hamburger{
          display: none;
          cursor: pointer;
          .bar{
              display: block;
              width: 25px;
              height: 3px;
              margin: 5px auto;
              transition: all 0.3s ease-in-out;
              background-color: white;
          }
      }
  }
  ul{
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 60px;
      li{
          list-style: none;
          .nav-link{
              transition: 0.7s ease;
              &:hover{
                  color: dodgerblue;
              }
          }
      }
  }
}

p {
  top: 2px;
  left: 2px;
  position: absolute;
  z-index: 500;
}

a {
  text-decoration: none;
}
body {
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


.main {
  position: relative;
  display: flex;
  z-index: 10;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  .container {
    position: relative;
    z-index: 10;
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
      height: 450px;
    }
  }
  .info {
    margin: 0 15px;
    position: relative;
    display: flex;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.3);
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 15;
    }
    .info-movie {
      color: #fff;
      z-index: 20;
      position: absolute;
      top: 2rem;
      left: 1rem;
      .movie-title {
        font-size: 24px;
        font-weight: 500;
        margin-bottom: 20px;
        a {
          color: #fff;
          text-shadow: 0 1px 0 rgba(240, 145, 145, 0.1);
        }
      }
    }
  }
  .btn-prev {
    right: 100%;
    transform: translate(0, -50%);
  }
  .btn-next {
    left: 100%;
    transform: translate(0, -50%);
  }
  & > button {
    background-color: #131212;
    color: #fff;
    padding: 0 12px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    font-size: 26px;
    height: 80px;
    width: 40px;
    outline: none;
    cursor: pointer;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    transition: all 0.2s;
    z-index: 1;
    border-radius: 4px;
  }
}

.main > button:hover {
  background-color: #212122;
}

.slick-dots {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  display: flex;
  justify-content: center;
  list-style-type: none;
  li {
    margin: 0 4px;
    &:hover button, .slick-active button {
      background-color: #4e4e4e;
    }
  }
  button {
    cursor: pointer;
    display: block;
    width: 18px;
    height: 10px;
    border: none;
    outline: none;
    border-radius: 3px;
    transition: all 0.2s linear;
    text-indent: -9999px;
    background-color: #868686;
  }
}

//****************************************************
// HAMBURGER MENU
//****************************************************
@media(max-width:768px){
  header{
      .navbar{
          .nav-menu{
              position: fixed;
              left: -100%;
              top: 39px;
              gap: 0;
              flex-direction: column;
              background-color: #262626;
              width: 100%;
              text-align: center;
              transition: 0.3s;
              z-index: 999;
              &.active{
                  left: 0;
              }
              .nav-item{
                  margin: 16px 0;
              }
          }
          .hamburger{
              display: block;
              z-index: 2;
              &.active {
                  .bar:nth-child(2){
                      opacity: 0;
                  }
              }
              &.active {
                  .bar:nth-child(1){
                      transform: translatey(8px) rotate(45deg);
                  }
              }
              &.active {
                  .bar:nth-child(3){
                      transform: translateY(-8px) rotate(-45deg);
              }
          }
      }
  }
}
}